a {
    display: block;
    margin-bottom: 20px;
}

body {
    font-family: sans-serif;
    padding: 20px;
}

.button {
    display: block;
    border: none;
    background-color: transparent;
    padding: 5px 0;
    text-decoration: underline;
    font-size: 1rem;
}

details {
    display: block;
    line-height: 1.6;
    margin: 20px 0;
    font-weight: 300;
    background-color: #eee;
    user-select: none;
}

summary {
    font-weight: 400;
    background-color: #fff;
    outline: none;
}