a {
    display: block;
    padding: 5px 0;
}

details {
    display: block;
    line-height: 1.6;
    margin: 20px 0;
    background-color: #eee;
    user-select: none;
}

summary {
    background-color: #fff;
    /* padding: 3px 0; */
    outline: none;
}